<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login view</h1>
    {% if error %}
    <p style="color: red;">{{error}}</p>
    {% endif %}
    <form action="{% url 'account:login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
    </form>
    <p>Need an account please  <a href="{% url 'account:register' %}">register</a></p>
</body>
</html>