{% extends 'base.html' %}

{% block content %}
<h4><a href="{% url 'recipe:create' %}">Add Recipes</a></h4>

<h3>Recipes Details page</h3>
<a href="{% url 'recipe:update' query_set.id  %}"><h2>{{query_set.name}}</h2> <span>Edite</span></a>
<p>{{query_set.description}}</p>
<p>{{query_set.direction}}</p>

    {% for ingredient in query_set.recipeIngredient_set.all %}
    <h3>{{ingredient.name}}</h3>
    <p>{{ingredient.as_imperial }}</p>
    <p>{{ingredient.as_mks }}</p>
    {% endfor %}
{% endblock %}
